.navbarContainer{
    background-color: rgb(210 210 210 / 44%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 30px 0 rgba(0, 0, 0, 0.19) !important;
}
.navbar {
    position: relative;
    transition: top 0.3s;
}

.nav-link {
    color: rgb(0 0 0 / 55%);
}
.nav-link:focus {
    color: black;
}
.nav-link:hover {
    color: rgb(0, 0, 0);
    font-weight: 400;
}
  
.navbar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(210, 210, 210, 0.707);
    a{
        color: black;
        font-weight: 400;
    }
}

a:focus{
    border-bottom: 1px solid;
    padding-bottom: 3px;
}

.changeTheme{
    width: fit-content;
    height: 28px;
    align-self: center;
    padding: 0%;
    margin-inline: 6px;
}

.icon{
    width: 24px;
    height: 24px; 
}

li{
    margin-inline: 2.5px;
}

@media only screen and (min-width: 768px){
    
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
}

@media only screen and (min-width: 1008px){

}
