<div class="c1">
    <h2 class="subtitulo">{{'PTIT' | translate}}</h2>
    <p class="description">{{'PDES' | translate}}</p>
</div>
<hr class="divisor">
<div class="c1">
    <h2 class="subtitulo" style="margin-bottom: 20px;">{{'PAB' | translate}}</h2>
    <div class="container1">
        <p class="parrafo" [innerHTML]=" 'PA' | translate "></p>
        <img src="./assets/img/profile.jpg" width="200px" height="200px" style="border-radius: 60%;">
    </div>
</div>
<hr class="divisor">
<div class="container2">
    <h2 class="h2Git">{{'GITHUB' | translate}}</h2>
    <a href="https://github.com/Paez11" style="margin-inline: 5%;"> <img class="git" src="assets/img/git.png"> </a>
</div>
