.git {
    width: 50px;
    height: 50px;
}
.divisor{
    background: linear-gradient(to right, #0D1117, #29b9b612);
    margin-left: 20%;
    margin-right: 20%;
    padding: 1px;
    border-radius: 70%;
    opacity: 0.9;
}

.description{
    padding: 10px 30px 0px 30px;
    text-align: center;
    font: message-box;
}

.parrafo{
    font: message-box;
}

.c1{
    display: flex;
    flex-direction: column;
}
.container1{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.container2{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.subtitulo{
    margin: auto;
    text-align: center;
}

.h2Git{
    vertical-align: middle;
    margin-inline: 5%;
}



@media only screen and (max-width: 760px) {
    .parrafo{
        margin-left: 8%;
    }
    .description{
        font-size: x-large;
    }
    h2{
        font-size: xx-large;
    }
}