<div class="c1">
    <img src="./assets/icons/logo-color.png" width="250px" height="250px">
    <p class="mission">{{'mission' | translate}}</p>
</div>
<hr class="divisor">
<div class="container1">
    <h2 class="subtitulo">{{'PTIT' | translate}}</h2>
    <p class="description">{{'PDES' | translate}}</p>
</div>
<hr class="divisor">
<div class="c2">
    <h2 class="subtitulo" style="margin-bottom: 20px;">{{'PAB' | translate}}</h2>
    <div class="container2">
        <img src="./assets/img/profile.jpg" class="profilePicture">
        <h4 class="name">Víctor Páez Anguita</h4>
        <p class="parrafo" [innerHTML]=" 'PA' | translate "></p>
    </div>
</div>
