<div class="content">
    <div class="blog" [@fadeInOut]>
        <div class="section1">
            <div class="text-section">
                <h2 class="blog-title">{{"section1-title" | translate}}</h2>
                <p class="text">
                    {{"section1" | translate}}
                </p>
            </div>
            <iframe width="360" height="215" src="https://www.youtube.com/embed/cB2GeIJxFg8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="section2">
            <div class="text-section">
                <h2 class="blog-title">{{"section1-title" | translate}}</h2>
                <p class="text">
                    {{"section1" | translate}}
                </p>
            </div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Cuesta_del_obispo_01.jpg/271px-Cuesta_del_obispo_01.jpg">
        </div>
        <div class="section1">
            <div class="text-section">
                <h2 class="blog-title">{{"section1-title" | translate}}</h2>
                <p class="text">
                    {{"section1" | translate}}
                </p>
            </div>
            <img src="https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823_1280.jpg" width="300" height="215">
        </div>
    </div>
</div>
