<div class="content">
    <div class="blog" [@fadeInOut]>
        <div class="section1">
            <div class="text-section">
                <h2 class="blog-title">{{"section1-title" | translate}}</h2>
                <p class="text">
                    {{"section1" | translate}}
                </p>
            </div>
            <img src="assets/img/age_of_empire.png" class="img1" width="350" height="215">
        </div>
        <div class="section2">
            <div class="text-section2">
                <h2 class="blog-title">{{"section2-title" | translate}}</h2>
                <p class="text">
                    {{"section2" | translate}}
                </p>
                <ul class="list-group list-group-flush list-group-horizontal" id="myList">
                    <li class="list-group-item">NodeJS</li>
                    <li class="list-group-item">Angular</li>
                    <li class="list-group-item">Bootstrap</li>
                    <li class="list-group-item">FireBase</li>
                    <li class="list-group-item">Unity</li>
                    <li class="list-group-item">Photoshop</li>
                </ul>
                <p class="text">
                    {{"section2-2" | translate}} <br><br> {{"section2-3" | translate}}
                </p>
            </div>
            <img src="assets/img/herramientas.png" width="300" height="215">
        </div>
        <div class="section1">
            <div class="text-section">
                <h2 class="blog-title">{{"section3-title" | translate}}</h2>
                <p class="text">
                    {{"section3" | translate}} <br> <br> {{"section3-2" | translate}}
                </p>
            </div>
            <img src="assets/img/gif/webgif.gif" width="300" height="215">
        </div>
        <div class="section2">
            <div class="text-section">
                <h2 class="blog-title">{{"section4-title" | translate}}</h2>
                <p class="text">
                    {{"section4" | translate}}
                </p>
            </div>
            <img src="assets/img/gif/unitygif.gif" width="300" height="215">
        </div>
        <div class="section1">
            <div class="text-section">
                <h2 class="blog-title">{{"section5-title" | translate}}</h2>
                <p class="text">
                    {{"section5" | translate}}
                </p>
            </div>
            <img src="assets/img/gif/paintgif.gif" width="300" height="215">
        </div>
        <div class="section2">
            <div class="text-section">
                <h2 class="blog-title">{{"section6-title" | translate}}</h2>
                <p class="text">
                    {{"section6" | translate}}
                </p>
            </div>
            <img src="assets/img/firebaseHosting.png" width="350" height="215">
        </div>
        <div class="section1">
            <div class="text-section">
                <h2 class="blog-title">{{"section7-title" | translate}}</h2>
                <p class="text">
                    {{"section7" | translate}}
                </p>
            </div>
            <img src="assets/img/innoSetup.png" width="300" height="215">
        </div>
        <div class="sectionVideo">
            <div class="text-section">
                <h2 class="blog-title">{{"section8-title" | translate}}</h2>
            </div>
            <iframe class="video" src="https://www.youtube.com/embed/qETx01t05DA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>
