<div class="parent" [@fadeInOut]>
    <div class="center">
        <header class="heading">
            <div class="header-container">
                <h1 class="tittle">{{"downloadTittle" | translate}}</h1>
            </div>
        </header>
        <img src=".././assets/img/divisor.png" alt="divisor" class="divisor">
        <div class="downloads">
            <button class="btn download-button" type="button" (click)="downloadFile()">{{"downloadButton" | translate}}</button>
            <a href="**" class="link">{{"downloadMac" | translate}}</a>
        </div>
    </div>
</div>
