
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$webPage-primary: mat.define-palette(mat.$indigo-palette);
$webPage-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$webPage-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$light-theme: mat.define-light-theme((
  color: (
    primary: $webPage-primary,
    accent: $webPage-accent,
    warn: $webPage-warn,
  )
));

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $webPage-primary,
    accent: $webPage-accent,
    warn: $webPage-warn,
  )
));

.logo-container{
  background-image: url('./assets/icons/logo-color.png');
  background-size: cover;
  width: 100%;
  height: 100%;
}


.dark-theme{
  @include mat.all-component-themes($dark-theme);

  background:#0D1117;
  color: rgb(208, 208, 208);

  .logo-container{
    background-image: url('./assets/icons/logo-blanco.png') !important;
  }

  nav{
    background-color: #161B22 !important;
    .navbar-brand{
      color:rgba(245, 245, 245, 0.546);
    }
      .nav-link{
        color:rgba(245, 245, 245, 0.546);
      }
      .nav-link:active{
        color:whitesmoke;
      }
      .nav-link:hover{
        font-weight: 500;
      }
    .nav-item {
      background-color:  #161B22 !important;
      .dropdown-menu {
        background-color:  #161B22 !important;
        color:whitesmoke;
        .dropdown-item {
          background-color:  #161B22 !important;
          color:whitesmoke;
        }
        li {
          background-color:  #161B22 !important;
        }
      }
    }
  }
  .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: white;
  }

  .navbar-toggler{
    color: whitesmoke;
    background-color: #2d343d;
    border: #323942 solid;
  }

  .span-color{
    color: whitesmoke;
  }

  .f-dark {
    background-color: #161B22 !important;
    box-shadow: 0 !important;
    color: whitesmoke !important;
  }

  .copyright-dark{
    background-color: rgba(0, 0, 0, 0.2) !important;
    color: whitesmoke !important
  }
  .power{
    color: whitesmoke !important;
  }
  .subNavbar{
    color: whitesmoke !important;
  }
  a{
    color: whitesmoke !important;
  }
  svg{
    background-color: rgb(255 255 255 / 92%) !important;
  }
  .tittle{
    color: whitesmoke !important;
  }
}
/* You can add global styles to this file, and also import other style files */
.dark-theme .mat-mdc-icon-button.mat-mdc-button-base {
  width: fit-content;
  height: 28px;
  align-self: center;
  padding: 0%;
  margin-inline: 6px;
  background-color: #161B22 !important;
}
/*
body {
    background-image: url('assets/img/background.jpg');
    background-size: cover; 
    background-position: center; 
    filter: blur(5px) brightness(0.2); 
}
*/

.body{
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body { 
  margin: 0; 
  /*background-image: url('assets/img/background.jpg');*/
}
